# Database Connection Settings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/placementos?schema=public"

# Session Security Configuration
JWT_SECRET="generate-a-secure-random-32-character-secret"

# Express API Port
PORT=4000

# Client Configuration
CLIENT_URL="http://localhost:5173"
